@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Yellowtail');


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 9pt;
}

main, header, footer {
    width: 60%;
    min-width: 350px;
    max-width: 500px;
    margin: auto;
}

header {
    height: 100px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 20pt;
    font-family: 'Yellowtail', cursive, 'Nanum Myeongjo';
    font-weight: 600;
    border: none;
    line-height: 100px;
}

header a {
    text-decoration: none;
    color: #000;
}

header a:hover {
    text-shadow: 0 0 2px #666;
}

main {
    border: 1px #aaa dotted;
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 25px;
}

footer {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 100px;
}

footer a, footer strong {
    font-family: 'Yellowtail', cursive;
    color: #000;
    text-decoration: none;
    padding: 3px 5px;
}

footer strong {
    font-size: 14pt;
}

footer a:hover {
    background: #000;
    color: #fff;
}

button, input[type='submit'] {
    background: #fff;
    border: none;
}

textarea {
    position: absolute;
    margin-top: 20px;
    left: 10%;
    width: calc(80% - 70px);
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type='submit'] {
    visibility: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    opacity: 0.4;
}

li {
    position: relative;
    padding: 20px 0 0 25px;
    margin-top: 15px;
    border-top: #d7d7d7 1px dashed;
}

li .icon {
    position: absolute;
    left: 10px;
    top: 20px;
}

.green {
    color: #17672a;
    text-shadow: 0 0 2px greenyellow;
}

.red {
    color: #a92210;
    text-shadow: 0 0 2px hotpink;
}

.comments {
    width: calc(100% - 15px);
    position: relative;
    left: 15px;
}

.comments li {
    margin-top: 0;
    border: none;
}

.comment, .post {
    width: calc(100% - 70px);
    margin-left: 1px;
    margin-bottom: 5px;
}

.like {
    width: 47px;
    height: 25px;
    position: absolute;
    top: 18px;
    right: 15px;
    border: 1px #d7d7d7 solid;
    color: #444;
    border-radius: 3px;
    font-size: 7pt;
    padding: 0;
}

.pin, .hide, .restore, .delete {
    position: absolute;
    top: 20px;
    width: 25px;
    height: 25px;
    border: 1px #d7d7d7 solid;
    color: #444;
    border-radius: 3px;
    text-align: center;
    line-height: 15px;
}

.pin, .restore {
    right: 38px;
}

.hide, .delete {
    right: 10px;
}

button.red {
    color: #000;
    text-shadow: none;
}

button.red i {
    animation: glow .4s infinite alternate;
}

.like i {
    margin-right: 5px;
}

@keyframes glow {
    to {
        text-shadow: 0 0 3px #aa0000;
        color: #aa0000;
    }
}

.timePosted, .info {
    font-size: 6pt;
    margin-bottom: 6px;
}

.timePosted span, .info span {
    cursor: pointer;
}

.commentWriter {
    position: relative;
    width: 100%;
    height: 80px;
    display: none;
}

#msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    color: #fff;
    background: #000;
    line-height: 25px;
    text-align: center;
    z-index: 10000;
    display: none;
}

#closeMsg {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#adminSignIn button {
    position: absolute;
    float: right;
    top: 3px;
    right: 0;
    border: none;
}

#adminSignIn div {
    width: 100%;
    height: 100%;
    display: none;
}

#adminSignIn div input[type='password'] {
    width: calc(100% - 50px);
    height: 23px;
    line-height: 23px;
    border: 0;
    padding: 0 10px 0;
}

#adminSignIn {
    width: 28px;
    height: 23px;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
    z-index: 1500;
}

#adminSignIn:hover, .adminSignOpen{
    border-left: #d7d7d7 1px solid;
    border-bottom: #d7d7d7 1px solid;
    box-shadow: 0 0 3px #d7d7d7;
}

#postWriter {
    width: 100%;
    height: 85px;
    z-index: 1;
    position: relative;
}

#postWriter input[type="submit"], .commentWriter input[type="submit"] {
    font-family: 'Leckerli One', cursive;
    visibility: visible;
    font-size: 7pt;
    width: 60px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    right: 10%;
    top: 46px;
}

.commentWriterToggle {
    text-align: left;
    cursor: pointer;
    font-size: 8pt;
}

.commentWriter textarea {
    margin-top: 10px;
}

.commentWriter input[type="submit"] {
    top: 36px
}

.trafficLight {
    visibility: hidden;
}

.trafficLight+label {
    display: inline-block;
    line-height: 18px;
    text-align: center;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: calc(10% - 22px);
    border-radius: 9px;
    background: #770000;
    color: #fff;
    cursor: pointer;
}

.trafficLight:checked+label {
    background: green;
}

#adminPanel, #recoveryPanel {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#configPanel {
    display: none;
}

#emptyPosts {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}