<div id="adminPanel">
    <button id="signOut" class="controlBtn">로그아웃</button>
    <button id="recovery" class="controlBtn">리커버리 ON</button>
    <button id="config" class="controlBtn">정보 수정</button>
    <div id="configPanel">
        <h4>보드 정보</h4>
        <form action="lib/updateConfig.php" method="post">
            새 비밀번호: <input type="password" name="newPassword"><br>
            브라우저 제목: <input type="text" name="newTitle" value="<?php echo $title; ?>" title="최소 한 글자 이상으로 지정하세요." pattern="{1,}" required><br>
            페이지 제목: <input type="text" name="newHome" value="<?php echo $home; ?>" title="최소 한 글자 이상으로 지정하세요." pattern="{1,}" required><br>
            글 갯수: <input type="text" name="newNumPost" value="<?php echo $numPost; ?>" title="숫자만 입력 가능합니다." pattern="[0-9]{1,}" required><br>
            페이지 갯수: <input type="text" name="newNumPage" value="<?php echo $numPage; ?>" title="숫자만 입력 가능합니다." pattern="[0-9]{1,}" required><br>
            포스팅 시간제한: <input type="text" name="newTimeLimit" value="<?php echo $postTimeLimit; ?>" title="숫자만 입력 가능합니다." pattern="[0-9]{1,}" required><br>
            <input type="submit" id="modify" value="수정하기">
        </form>
    </div>
</div>