<div id="recoveryPanel">
    <button id="signOut" class="controlBtn">로그아웃</button>
    <button id="recovery" class="controlBtn">리커버리 OFF</button>
    <button id="reset" class="controlBtn">완전 리셋</button>
</div>