<div id="adminSignIn">
    <div>
        <form action="lib/admin.php" method="post">
            <input type="password" name="adminPass" placeholder="관리자 비밀번호">
            <input type="submit" name="submit">
        </form>
    </div>
    <button><i class="fa fa-cog fa-lg" aria-hidden="true"></i></button>
</div>