<div id="postWriter">
    <form action="lib/write.php" method="post">
        <textarea name="postContent" required></textarea>
        <input type="hidden" name="sessionID" value="<?php echo $sessionID; ?>">
        <input type="submit" class="writeBtn" value="Post">
    </form>
</div>